
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fuente personalizada */
@font-face {
  font-family: 'TrajanPro';
  src: url('./assets/fonts/trajan-pro-regular_0fSMe/HN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Aplica la fuente personalizada y el cursor */
body {
  @apply bg-gray-900 text-gray-100 font-sans;
  margin: 0;
  font-family: 'TrajanPro', sans-serif;
  cursor: url('./cursor.cur'), auto;
}



