@font-face {
  font-family: 'TrajanPro';
  src: url('./assets/fonts/trajan-pro-regular_0fSMe/HN.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'TrajanPro', sans-serif;
  background-color: #0d1117;
  color: #e1e7ed;
  cursor: url('./cursor.cur'), auto; /* Cambia el cursor */
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.project-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
}
